# Node / PNPM
node_modules/
.pnpm-store/
dist/
.turbo/

# Env / local (忽略真实环境文件，保留 .env.example)
.env
.env.local
.env.development
.env.production
apps/**/.env
apps/**/.env.local
apps/**/.env.development
apps/**/.env.production
packages/**/.env
packages/**/.env.local
packages/**/.env.development
packages/**/.env.production

# OS / misc
.DS_Store
*.log
artifacts/
orchestration
# sora2api
wrangler.jsonc